//the intro seqeunce
.intro {
  position: absolute;
  top: 35%;
  z-index: 1;
  animation: intro 7s ease-out 1s;
  font-weight: 400;
  font-size: 400%;
  opacity: 0;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

//the logo sequence
.logo {
  position: absolute;
  top: 50%;
  left: 55%;
  z-index: 1;
  margin: auto;
  animation: logo 9s ease-out 9s;
  opacity: 0;
  width: inherit;
  font-weight: 400;
  font-size: 400%;
  color: $secondary-color;
}

@keyframes logo {
  0% {
    width: 18em;
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
    width: 18em;
  }
}

p {
  color: $secondary-color;
}

//now the crawl text - setup
#board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(30deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}

//the after state
#board:after {
  position: absolute;
  content: " ";
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

//create actual scrolling animation

#content {
  animation: scroll 100s linear 16s;
  position: absolute;
  top: 100%;
}

#title,
#subtitle {
  text-align: center;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
